* {
  --background: #1c1e27;
  --text: #fff;
  --secondary-text: rgb(145, 145, 145);
  --accent: #fcee54;
  --secondary-accent: #85eea7;
  --tertiary-accent: rgb(111, 184, 247);
}
html {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Berkeley Mono', 'JetBrains Mono';
}
body {
  width: 60ch;
  margin: auto;
}
li {
  list-style-type: "├── ";
}
li:last-of-type {
  list-style-type: "└── ";
}
li.expanded {
  list-style-type: "└── ";
}
li::marker {
  color: var(--secondary-text);
}
li[hx-trigger="click"] {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--secondary-text);
}
li[hx-trigger="click"]:hover {
  color: var(--accent);
}
pre {
  color: var(--secondary-text);
  .key {
    color: var(--text);
  }
  .string {
    color: var(--tertiary-accent);
  }
  .number {
    color: var(--secondary-accent);
  }
  .boolean,
  .null {
    color: var(--accent);
  }
}

.overflow-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
.manifest-content {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  overflow: scroll;
}
.secondary-text {
  color: var(--secondary-text);
}
