{{#if directory.name}}
    <li class="expanded">
        <div class="overflow-truncate">{{directory.name}}</div>
    </li>
{{/if}}
<ul>
    {{#unless directory.directories}}
        {{#unless directory.manifests}}
            <li class="no-result-item secondary-text">
                Empty directory
            </li>
        {{/unless}}
    {{/unless}}

    {{#each directory.directories}}
        <li
            class="directory-item"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-get="/directory/{{this.path}}"
        >
            <div class="overflow-truncate">{{this.name}}</div>
        </li>
    {{/each}}

    {{#each directory.manifests}}
        {{> manifest manifest=this}}
    {{/each}}
</ul>
