<html lang="en">
<head>
    <title>cubby.no</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    {{> list directory=directory}}
    <script src="/static/htmx@2.0.3.min.js"></script>
</body>
</html>
