<html lang="en">
<head>
    <title>cubby.no</title>
    <style>
        * {
            --background: #1c1e27;
            --text: #fff;
        }
        html {
            background-color: var(--background);
            color: var(--text);
            font-family: 'Berkeley Mono', 'JetBrains Mono';
        }
    </style>
</head>

<body>
    {{> list directory=directory}}
    <script src="/static/htmx@2.0.3.min.js"></script>
</body>
</html>
