<!DOCTYPE html>
<html lang="en">
<head>
    <title>cubby.no</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/fonts/fonts.css">
</head>

<body>
    {{#if path}}
        <ul>
            {{> directory directory=directory}}
        </ul>
    {{else}}
        {{> directory directory=directory}}
    {{/if}}

    <script src="/static/htmx@2.0.3.min.js"></script>
    <script src="/static/syntax-hightlight.js"></script>
    <script>
        document.body.addEventListener('htmx:afterSwap', (event) => {
            const codeBlocks = event.detail.elt.getElementsByTagName('pre');
            for (let i = 0; i < codeBlocks.length; i++) {
                codeBlocks[i].innerHTML = syntaxHighlight(codeBlocks[i].innerText);
            }
        });
    </script>
</body>
</html>
